<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<!-- the targets to write -->
	<targets>
		<!-- write to file -->
		<target name="applog" xsi:type="File"
        fileName="C:\Log\Intelli.DMS.Api-${shortdate}.log"
        layout="${longdate} - ${message} - 
        ${exception:format=StackTrace}${newline}" />
		<!-- write to databse -->
		<target name="DMSLogs"
        xsi:type="Database"
		dbProvider="Microsoft.Data.SqlClient.SqlConnection, Microsoft.Data.SqlClient"
		connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=DMS;Integrated Security=True;"
        commandText="Insert into NLog(LoggedOn,Level,ClassName,Message,Stacktrace,Exception) values(@LoggedOn,@Level,@ClassName,@Message,@Stacktrace,@Exception)">
			<parameter name="@LoggedOn" layout="${epoch}"/>
			<parameter name="@Level" layout="${level}"/>
			<parameter name="@ClassName" layout="${logger}"/>
			<parameter name="@Message" layout="${message}"/>
			<parameter name="@Stacktrace" layout="${exception:format=StackTrace}"/>
			<parameter name="@Exception" layout="${exception:format=tostring}"/>
		</target>
	</targets>
	<!-- rules to map from logger name to target -->
	<rules>
		<!-- all logs including Microsoft -->
		<logger name="*" minlevel="Trace" writeTo="applog" />
		<logger name="*" minlevel="Trace" writeTo="DMSLogs" />
	</rules>
</nlog>